#index {
  text-align: center;
  padding: 3% 0 0; }

.homepage-headline {
  font-size: 10em;
  margin-bottom: .2em; }

.homepage-title {
  font-family: prenton;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 3em;
  letter-spacing: 10px;
  position: relative;
  left: 11px;
  text-shadow: 0 2px 2px white; }

.homepage-mission-statement {
  font-family: minion-pro;
  line-height: 1.3em;
  position: relative; }

#homepage-links {
  margin: 2em 0;
  letter-spacing: 1em; }

a.homepage-link {
  font-size: 2.1em;
  text-shadow: 0px 0px 7px #030303;
  color: transparent;
  transition-property: text-shadow;
  transition-duration: .05s; }
  a.homepage-link:hover {
    text-shadow: 0 0 3px rgba(255, 245, 0, 0.95), 0 0 7px #030303; }

/*p {*/
/*font-size: 1.2em;*/
/*margin: 100px 0;*/
/*a {*/
/*border-bottom: 1px solid rgb(134, 125, 125);*/
/*color: rgb(134, 125, 125);*/
/*padding-bottom: 5px;*/
/*&:hover {*/
/*text-decoration: none;*/
/*}*/
/*}*/
/*}*/
#blog {
  margin: 0;
  padding: 0; }

.blog-navbar {
  border-bottom: 1px solid #b1c7c3; }

.blog-navbar-category {
  color: #697d84;
  font-weight: 100;
  font-size: 0.9em;
  line-height: 2.55em; }
  .blog-navbar-category strong {
    color: #5e7076;
    font-weight: 300; }

.blog-navbar-category-icon {
  position: relative;
  top: 2px;
  background: white;
  border-radius: 33px;
  border: 1px solid #ddd;
  margin-right: 6px;
  font-size: 0.95em;
  padding: 3px 5px 0 3px;
  color: white;
  background: #697d84;
  border: none; }

.blog-sidebar {
  border-left: 1px solid #b1c7c3;
  background: #d4ddd1; }

.blog-sidebar-section {
  margin: .75em 0 1em; }

.blog-sidebar-navigation.side-nav {
  padding: .2em 0; }
  .blog-sidebar-navigation.side-nav li {
    margin-bottom: .2em; }
    .blog-sidebar-navigation.side-nav li a {
      display: block;
      color: #697d84;
      text-shadow: 0 1px 1px white;
      position: relative; }
      .blog-sidebar-navigation.side-nav li a:hover {
        left: 1px;
        /*text-decoration: underline;*/ }
      .blog-sidebar-navigation.side-nav li a:active {
        top: 1px; }

.blog-sidebar-headline {
  font-weight: 600;
  font-size: .8em;
  border-bottom: 2px solid #C3CCCC;
  color: #697272;
  padding-bottom: 0.4em; }

.blog-sidebar-profile-links {
  margin: 1em 0;
  letter-spacing: .25em; }
  .blog-sidebar-profile-links a {
    color: #303030;
    font-size: 1.25em; }

.blog-entry-headline {
  text-shadow: 0 -1px 0 #49869c;
  font-weight: 500;
  margin: 0.7em 0 0.9em; }

.blog-entry-content p {
  color: #707070;
  font-weight: 100;
  font-size: 0.9em;
  line-height: 1.8em; }

body {
  background: #eeedda;
  font-family: prenton; }

h1, h2, h3, h4, h5, h6, p {
  color: #303030;
  font-family: prenton; }

.branded-headline {
  text-shadow: 0 -2px 0 #49869c;
  font-family: tangerine;
  line-height: 1em;
  margin: 0.5em 0;
  font-size: 8em; }

